@model Proba.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2 class="naslov-formi">Детали за резервација</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Име на клиент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            Име на салон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt>
            Почеток на терминот
        </dt>

        <dd>
            @{ 
                var start = Model.StartTime.ToString("HH:mm");
            } 
            @start.ToString()
        </dd>

        <dt>
           Крај на терминот
        </dt>

        <dd>
            @{
                var end = Model.EndTime.ToString("HH:mm");
            }
            @end.ToString()
        </dd>

        <dt>
            Забелешки
        </dt>

        <dd class="text-success" style="font:bold;font-size:20px">
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Назад", "Index","Reservations", new {Id = Model.ClientId}, null)
</p>
