@model IEnumerable<Proba.Models.Reservation>
<h3>Листа на сите ваши направени резервации</h3>

<table id="table" class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salon.Name)
            </th>
            <th>
                @if (User.IsInRole("Salon"))
                {
                   @Html.DisplayNameFor(model => model.Client.ClientName)
                }
            </th>
            <th>
                @if (User.IsInRole("Salon"))
                {
                    @Html.DisplayNameFor(model => model.Client.ClientSurname)
                }
                
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Salon.Name)
                </td>
                <td>
                    @if (User.IsInRole("Salon"))
                    {
                        @Html.DisplayFor(modelItem => item.Client.ClientName)
                    }
                    
                <td>
                    @if (User.IsInRole("Salon"))
                    {
                        @Html.DisplayFor(modelItem => item.Client.ClientSurname)
                    }
                    
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @if (DateTime.Compare(item.Date.Date, DateTime.Now.Date) >= 0)
                    {
                    <a href="" class="btn btn-default js-delete" data-id="@item.Id">ОТКАЖИ</a>
                    @*@Html.ActionLink("ОТКАЖИ", "Delete", "Reservations", new { id = item.Id }, null)*@
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<div id="result" class="text-success">
</div>

@section Scripts{
    <script>
        var refreshed = false;
        var table = $("#table").DataTable({
            "order": [[6, "desc"]]
        });
        $("#table .js-delete").click(function () {
            var button = $(this);
            if (confirm("Дали сте сигурни дека сакате да ја откажете резервацијата?")) {
            
                //true
                $.ajax({
                    method: "GET",
                    url: "/Reservations/Delete/" + button.attr("data-id"),
                    success: function () {
                        table.row(button.parents("tr")).remove().draw();
                        location.reload();
                    }
                });

            } 
        });
    </script>
}
