@model Proba.Models.DetailsReservationViewModel
@{
    ViewBag.Title = "Резервација";
}

<h3>Резервации за салон @Model.Salon.Name</h3>
<span style="padding:15px">Услуга: @Model.Service.Name</span>
<span style="padding:15px">Цена на услуга: @Model.Service.Price</span>

@Html.Raw(ViewBag.SuccessMessage);
@using (Ajax.BeginForm("ReservationTime","Reservations", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "searchFailed",
    LoadingElementId = "ajax-loader",
    UpdateTargetId = "timeSpans",
    OnSuccess = "success "
})){
    @Html.HiddenFor(m => m.ServiceId)
    @Html.HiddenFor(m => m.SalonId)
    <div class="form-group">
        @Html.DisplayNameFor(m => m.Date)<br />
        @Html.EditorFor(m => m.Date, new { @class = "form-control", id = "datepick" })
    </div>

    <input type="submit" value="Прегледај" class="btn btn-block default kopce-formi" />
}
<div style="display:none">
    <img id="ajax-loader" src="@Url.Content("~/UserImages/ajax-loader.gif")"
         style=" max-width: 50%; margin: 0 25%;" />
</div>

<div id="timeSpans">
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#datepick").datepicker({

                dateFormat: "mm-dd-yy"

            });
        });
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}