@model Proba.Models.DetailsReservationViewModel
<h4>Приказ на термини за @Model.Salon.Name на датум @Model.Date.ToString("dd-MM-yyyy")</h4>
@{
    var start = Model.Salon.StartTime;
    

    var end = Model.Salon.EndTime;
    var step = Model.Service.Duration.Hour * 60 + Model.Service.Duration.Minute;
    

    var stop = end.AddMinutes(-step);

    
    var span = end.Subtract(start).TotalMinutes;
    

}
    <table style="border:solid 5px black;border-collapse:collapse">
        <thead>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody>
            @{
                while (span > 0 )
                {

                        <tr>
                            @{
                                var startStr = "";
                                var endStr = "";
                            }
                            @if (start.ToString().Contains("PM"))
                            {

                                if (!start.ToString().Contains("12:"))
                                {
                                    start.AddHours(12);
                                    startStr = start.ToString("HH:mm");
                                    endStr = start.AddMinutes(step).ToString("HH:mm");
                                    start.AddMinutes(-step);
                                    start.AddHours(-12);

                                }
                                else
                                {
                                    start.AddHours(-12);
                                    startStr = start.ToString("HH:mm");
                                    endStr = start.AddMinutes(step).ToString("HH:mm");
                                    start.AddMinutes(-step);
                                    start.AddHours(12);
                                }

                            }
                            else
                            {
                                startStr = start.ToString("HH:mm");
                                endStr = start.AddMinutes(step).ToString("HH:mm");
                                start.AddMinutes(-step);
                            }
                            <td style="border:solid 5px black" >
                               <p> @startStr.ToString() -  @endStr.ToString()</p>
                            </td>
                            
        @{
            if (((List<Proba.Models.Reservation>)ViewBag.AllReservations)
             .Contains(new Proba.Models.Reservation()
             {
                 StartTime = start,
                 EndTime = start.AddMinutes(step)
             }))
            {
                <td style="background-color:red;color:white;border:solid 5px black">
                   <h3>РЕЗЕРВИРАНО</h3>
                </td>
            }
            else
            {
                        <td>
                            @using(Html.BeginForm("CreateReservation", "Reservations", FormMethod.Post))
                            {
                            

                            @Html.HiddenFor(m => m.ClientId)
                            @Html.HiddenFor(m => m.SalonId)
                            @Html.HiddenFor(m => m.ServiceId)
                            @Html.HiddenFor(m => m.Date)
                                DateTime s = DateTime.Parse(start.ToString());
                                DateTime e = DateTime.Parse(start.AddMinutes(step).ToString());
                                @Html.Hidden("StartTime", s)
                            @Html.Hidden("EndTime", e)

                            <input type="submit" value="РЕЗЕРВИРАЈ" class="btn btn-block default kopce-formi" />

                            }
                        </td>
            }
        }
                            
                        </tr>
                    start = start.AddMinutes(step);
                    span -= 60;

                }
            }
        </tbody>
    </table>
    