@model Proba.Models.Reservation
<h4>Приказ на термини за @Model.Salon.Name на датум @Model.Date.Date.ToString()</h4>
@{ 
    var start = Model.Salon.StartTime;
    <p>@start.ToString()</p>
    
    var end = Model.Salon.EndTime;
    var step = Model.Service.Duration.Hour*60 + Model.Service.Duration.Minute;
    <p>@end.ToString()</p>
    <p>@step.ToString()</p>
} 
<table>

    <thead>

    </thead>
    <tbody>

        @{
            var stop = end.AddMinutes(-step);
        }

        @while (start <= stop)
        {
            @start += step;
        <tr>
            <td>
                @start.ToString() +" - " + @(start.AddMinutes(step)).ToString()
            </td>
            @{
                if (((List<Proba.Models.Reservation>)ViewBag.AllReservations)
                     .Contains(new Proba.Models.Reservation()
                     {
                         StartTime = start,
                         EndTime = start.AddMinutes(step)
                     }))
                {
                    <td style="background-color:red">
                        РЕЗЕРВИРАНО
                    </td>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.ClientId)
                        @Html.HiddenFor(m => m.SalonId)
                        @Html.HiddenFor(m => m.Service)
                        @Html.HiddenFor(m => m.Date)

                        <td>
                            <button type="submit" value="РЕЗЕРВИРАЈ" class="btn btn-block default kopce-formi"></button>
                        </td>
                        }

                    }
                }
            </tr>
            }
        </tbody>
</table>