@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var path = "";
                if (User.IsInRole(Proba.Models.RoleName.Client))
                {
                    path = Html.Action("UserPhotos", "Home").ToHtmlString();
                }
                else
                {
                    path = Html.Action("SalonPhotos", "Home").ToHtmlString();
                }

            }
            <img src="@path" style="max-width:40px;border-radius:50%;margin-top:5px" />
        </li>
        <li>
            @{
                var fullname = "";
                if (User.IsInRole(Proba.Models.RoleName.Salon))
                {
                    fullname = Html.Action("SalonName", "Home").ToHtmlString();
                }
                else
                {
                    fullname = Html.Action("UserFullName", "Home").ToHtmlString();

                }
            }
            
            <li>@Html.ActionLink("Профил", "Profil", "Home")</li>

        @*
        @Html.ActionLink(fullname, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        *@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Одјави се</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Регистрација на клиент", "RegisterClient", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Регистрација на салон", "RegisterSalon", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Најави се", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
