


@{
    ViewBag.Title = "Home Page";
}


<div  style="background-color:white !important"> 
    <div class="container">
        <div class="row margin-y-1p">
            <div class="col-lg-6 h-100 d-inline-block" style="padding: 2%;">
                <br />
                <h1>Со еден клик до резервација во вашиот омилен салон за убавина во државата.</h1>
                <br />
                <br />
                <br />
                <br />
                <h3><b>ПРЕБАРУВАЈТЕ ПО ГРАД</b></h3>
                <h4>Внесете го градот во празното поле за кој што сакате да пребарате салони.</h4>

                <div>
                    @using (Ajax.BeginForm("searchTown", "Home",
                                            new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "GET",
                                                OnFailure = "searchFailed",
                                                LoadingElementId = "ajax-loader",
                                                UpdateTargetId = "searchResults",
                                                OnSuccess = "success "
                                            }))
                    {
                        <div class="row margin-y-1p">
                            <div class="col-lg-1 h-100 w-49-f-left">
                                <input type="text" name="town" id="town" class="input-r w-100-mine" />
                            </div>
                            <div class="col-lg-1 h-100 w-49-f-left">
                                <input type="submit" class="btn btn-block default w-100-mine"
                                       value="Пребарај" />
                            </div>
                        </div>
                        <div style="display:none">
                            <img id="ajax-loader" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                                 style=" max-width: 50%; margin: 0 25%;" />
                        </div>
                    }

                </div>

            </div>
            <div class="col-lg-6 h-100 d-inline-block">

                <img class="img-rounded"
                     style="max-width:85%"
                     src="~/Content/images/pozadina.jpg"
                     alt="pozadina" />
            </div>
        </div>

        @* table *@

        <div id="searchResults">

        </div>
    </div>
</div>




<div class="jumbotron">

    @* part 3*@
    

    <div class="row margin-y-1p">
        @*1*@
        <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p">
            <div class="panel-heading">
                <h4 class="text-center header-4-mini" style="background-color:#F58566;color:white;border-radius:6px">Најдобар рејтинг</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group ul-index">
                    @foreach (var salon in (ViewBag.Najdobri5Saloni as IEnumerable<Proba.Models.Salon>))
                    {
                        @*
                            <li class="list-group-item">  @Html.ActionLink(salon.Name, "Saloni") </li>
                        *@
                        <li class="list-group-item">  @Html.ActionLink(salon.Name, "Details", "Salons", new { id = salon.UserId }, null) </li>


                    }
                </ul>
            </div>
            @*
                    <div class="panel-footer bg-transparent">
                    <button class="btn btn-block default " type="button"><span>Види повеќе</span></button>
                </div>
            *@
        </div>
        @*2*@
        <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p">
            <div class="panel-heading">
                <h4 class="text-center header-4-mini">Најнови салони</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group ul-index">
                    @foreach (var salon in (ViewBag.Najnovi5Saloni as IEnumerable<Proba.Models.Salon>))
                    {
                        <li class="list-group-item">  @Html.ActionLink(salon.Name, "Details", "Salons", new { id = salon.UserId }, null) </li>

                    }
                </ul>
            </div>
        </div>
        @*3*@
        <div class="col-xs-1 table-bordered img-rounded margin-x-1p colum-30p">
            <div class="panel-heading">
                <h4 class="text-center header-4-mini">Најголеми салони</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group ul-index">
                    @foreach (var salon in (ViewBag.Najgolemi5Saloni as IEnumerable<Proba.Models.Salon>))
                    {
                        <li class="list-group-item">  @Html.ActionLink(salon.Name, "Details", "Salons", new { id = salon.UserId }, null) </li>

                    }
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <p></p>
        </div>
    </div>
</div>





@section Scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
