@using Proba.Models
@using Type = Proba.Models.Type

@{
    ViewBag.Title = "Uslugi";
}



<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>КОСА</h3>

            @*@Html.ActionLink("Пребарај салони со услуга коса", "ServiceK", "Services",new { type = Type.КОСА },null)*@

            <div>
                @using (Ajax.BeginForm("ServicePARTIAL", "Services", new { type = Type.КОСА },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loaderKOSA",
                                            UpdateTargetId = "searchResultsKOSA",
                                            OnSuccess = "success "
                                        }))
                {
                    <div class="row margin-y-1p">
                        <div class="col-lg-1 h-100 w-49-f-left">
                            <input type="submit" class="btn-link default" style="border-radius: 5px;"
                                   value="Пребарај салони со услуга коса" />
                        </div>
                    </div>
                    <div style="display:none">
                        <img id="ajax-loaderKOSA" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                             style=" max-width: 50%; margin: 0 25%;" />
                    </div>
                }

            </div>
        </div>

        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/hair_img_1.jpg">
                        <img src="~/UploadedFiles/photosServices/hair_img_1.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/hair_img_2.jpg">
                        <img src="~/UploadedFiles/photosServices/hair_img_2.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/hair_img_3.jpg">
                        <img src="~/UploadedFiles/photosServices/hair_img_3.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/hair_img_4.jpg">
                        <img src="~/UploadedFiles/photosServices/hair_img_4.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>

        </div>

        <br /><br /><br /><br /><br />
        <div id="searchResultsKOSA">

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ШМИНКА</h3>

            @*@Html.ActionLink("Пребарај салони со услуга шминка", "ServiceK", "Services", new { type = Type.ШМИНКА }, null)*@
            <div>
                @using (Ajax.BeginForm("ServicePARTIAL", "Services", new { type = Type.ШМИНКА },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loaderSHMINKA",
                                            UpdateTargetId = "searchResultsSHMINKA",
                                            OnSuccess = "success "
                                        }))
                {
                    <div class="row margin-y-1p">
                        <div class="col-lg-1 h-100 w-49-f-left">
                            <input type="submit" class="btn-link default" style="border-radius: 5px;"
                                   value="Пребарај салони со услуга шминка" />
                        </div>
                    </div>
                    <div style="display:none">
                        <img id="ajax-loaderSHMINKA" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                             style=" max-width: 50%; margin: 0 25%;" />
                    </div>
                }
            </div>
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/makeup_img_1.jpg">
                        <img src="~/UploadedFiles/photosServices/makeup_img_1.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/makeup_img_2.jpg">
                        <img src="~/UploadedFiles/photosServices/makeup_img_2.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/makeup_img_3.jpg">
                        <img src="~/UploadedFiles/photosServices/makeup_img_3.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/makeup_img_4.jpg">
                        <img src="~/UploadedFiles/photosServices/makeup_img_4.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>

        </div>

        <br /><br /><br /><br /><br />
        <div id="searchResultsSHMINKA">

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>МАНИКИР</h3>

            @*@Html.ActionLink("Пребарај салони со услуга маникир", "ServiceK", "Services", new { type = Type.МАНИКИР }, null)*@
            <div>
                @using (Ajax.BeginForm("ServicePARTIAL", "Services", new { type = Type.МАНИКИР },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loaderMANIKIR",
                                            UpdateTargetId = "searchResultsMANIKIR",
                                            OnSuccess = "success "
                                        }))
                {
                    <div class="row margin-y-1p">
                        <div class="col-lg-1 h-100 w-49-f-left">
                            <input type="submit" class="btn-link default" style="border-radius: 5px;"
                                   value="Пребарај салони со услуга маникир" />
                        </div>
                    </div>
                    <div style="display:none">
                        <img id="ajax-loaderMANIKIR" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                             style=" max-width: 50%; margin: 0 25%;" />
                    </div>
                }

            </div>
        </div>

        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/manicure_img_1.jpg">
                        <img src="~/UploadedFiles/photosServices/manicure_img_1.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/manicure_img_2.jpg">
                        <img src="~/UploadedFiles/photosServices/manicure_img_2.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/manicure_img_3.jpg">
                        <img src="~/UploadedFiles/photosServices/manicure_img_3.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/manicure_img_4.jpg">
                        <img src="~/UploadedFiles/photosServices/manicure_img_4.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>

        </div>
        <br /><br /><br /><br /><br />
        <div id="searchResultsMANIKIR">

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ПЕДИКИР</h3>

            @*@Html.ActionLink("Пребарај салони со услуга педикир", "ServiceK", "Services", new { type = Type.ПЕДИКИР }, null)*@
            <div>
                @using (Ajax.BeginForm("ServicePARTIAL", "Services", new { type = Type.ПЕДИКИР },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loaderPEDIKIR",
                                            UpdateTargetId = "searchResultsPEDIKIR",
                                            OnSuccess = "success "
                                        }))
                {
                    <div class="row margin-y-1p">
                        <div class="col-lg-1 h-100 w-49-f-left">
                            <input type="submit" class="btn-link default" style="border-radius: 5px;"
                                   value="Пребарај салони со услуга педикир" />
                        </div>
                    </div>
                    <div style="display:none">
                        <img id="ajax-loaderPEDIKIR" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                             style=" max-width: 50%; margin: 0 25%;" />
                    </div>
                }

            </div>
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/pedicure_img_1.jpg">
                        <img src="~/UploadedFiles/photosServices/pedicure_img_1.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/pedicure_img_2.jpg">
                        <img src="~/UploadedFiles/photosServices/pedicure_img_2.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/pedicure_img_3.jpg">
                        <img src="~/UploadedFiles/photosServices/pedicure_img_3.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/pedicure_img_4.jpg">
                        <img src="~/UploadedFiles/photosServices/pedicure_img_4.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>

        </div>

        <br /><br /><br /><br /><br />
        <div id="searchResultsPEDIKIR">

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ДЕПИЛАЦИЈА</h3>

            @*@Html.ActionLink("Пребарај салони со услуга депилација", "ServiceK", "Services", new { type = Type.ДЕПИЛАЦИЈА }, null)*@
            <div>
                @using (Ajax.BeginForm("ServicePARTIAL", "Services", new { type = Type.ДЕПИЛАЦИЈА },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnFailure = "searchFailed",
                                            LoadingElementId = "ajax-loaderDEPILACIJA",
                                            UpdateTargetId = "searchResultsDEPILACIJA",
                                            OnSuccess = "success "
                                        }))
                {
                    <div class="row margin-y-1p">
                        <div class="col-lg-1 h-100 w-49-f-left">
                            <input type="submit" class="btn-link default" style="border-radius: 5px;"
                                   value="Пребарај салони со услуга депилација" />
                        </div>
                    </div>
                    <div style="display:none">
                        <img id="ajax-loaderDEPILACIJA" src="@Url.Content("~/UserImages/ajax-loader.gif")"
                             style=" max-width: 50%; margin: 0 25%;" />
                    </div>
                }

            </div>
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/waxing_img_1.jpg">
                        <img src="~/UploadedFiles/photosServices/waxing_img_1.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/waxing_img_2.jpg">
                        <img src="~/UploadedFiles/photosServices/waxing_img_2.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/waxing_img_3.jpg">
                        <img src="~/UploadedFiles/photosServices/waxing_img_3.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="~/UploadedFiles/photosServices/waxing_img_4.jpg">
                        <img src="~/UploadedFiles/photosServices/waxing_img_4.jpg" alt="Hair image" width="100" height="100" class="img-max">
                    </a>
                </div>
            </div>

        </div>

        <br /><br /><br /><br /><br />
        <div id="searchResultsDEPILACIJA">

        </div>
    </div>
</div>

