@using Proba.Models

@{
    ViewBag.Title = "Uslugi";
}

<h2>Услуги</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <h3>КОСА</h3>

            @Html.ActionLink("Пребарај салони со услуга коса", "Contact", "Home")
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <h3>ШМИНКА</h3>

            @Html.ActionLink("Пребарај салони со услуга шминка", "Contact", "Home")
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <h3>МАНИКИР</h3>

            @Html.ActionLink("Пребарај салони со услуга маникир", "Contact", "Home")
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <h3>ПЕДИКИР</h3>

            @Html.ActionLink("Пребарај салони со услуга педикир", "Contact", "Home")
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row margin-y-1p">
            <h3>ДЕПИЛАЦИЈА</h3>

            @Html.ActionLink("Пребарај салони со услуга депилација", "Contact", "Home")
        </div>
    </div>
</div>

