@using Proba.Models
@using Type = Proba.Models.Type

@{
    ViewBag.Title = "Uslugi";
}

<h2>Услуги</h2>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>КОСА</h3>

            @Html.ActionLink("Пребарај салони со услуга коса", "ServiceK", "Services",new { type = Type.КОСА },null)
        </div>

        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ШМИНКА</h3>

            @Html.ActionLink("Пребарај салони со услуга шминка", "ServiceK", "Services", new { type = Type.ШМИНКА }, null)
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>МАНИКИР</h3>

            @Html.ActionLink("Пребарај салони со услуга маникир", "ServiceK", "Services", new { type = Type.МАНИКИР }, null)
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ПЕДИКИР</h3>

            @Html.ActionLink("Пребарај салони со услуга педикир", "ServiceK", "Services", new { type = Type.ПЕДИКИР }, null)
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6 h-100 d-inline-block">
            <h3>ДЕПИЛАЦИЈА</h3>

            @Html.ActionLink("Пребарај салони со услуга депилација", "ServiceK", "Services", new { type = Type.ДЕПИЛАЦИЈА }, null)
        </div>
        <div style="float:right" class="col-lg-6 h-100 d-inline-block">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045">
                        <img src="https://vignette.wikia.nocookie.net/powerpuff/images/a/a7/Tumblr_lv8big5jK51qizyws.jpg/revision/latest/scale-to-width-down/340?cb=20120508020045" alt="Cinque Terre" width="800" height="800">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

