@model Proba.Models.Salon

@{
    ViewBag.Title = "Details";
}

@*
    DETAILS SALON
*@

<div>
    @*<img class="slika-profil" src="~/UserImages/@Model.ImagePath" style="max-width:300px !important" />*@

    <div id="SlideshowImages" class="slika-profil">
        <div> <img src="~/UserImages/default_female.jpg" height="200" width="200" > </div>
        <div> <img src="/UserImages/default_male.jpg" height="200" width="200" > </div>
        <div> <img src="/UserImages/default_salon.jpg" height="200" width="200" > </div>
    </div>

    <h1 class="header-profil">

        <b class="naslov-profil">
            @Html.DisplayFor(model => model.Name)

        </b>

    </h1>

    <br />
    <br />
</div>

<div class="form-horizontal info-profil">

    <div style=" padding: 5% 0;">

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.City)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Rating)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Rating.ToString())
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.numChairs)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.numChairs.ToString())
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Services)
            </div>
            <div class="col-md-6">
                @foreach (var service in Model.Services)
                {

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.Label(service.Name)
                    </div>

                    <div class="col-md-2">
                        @Html.Label(service.Price.ToString()) ден.
                    </div>

                    @foreach (var img in service.StringsAsStrings.Split(','))
                    {
                        if (img != "")
                        {
                            <img src="~/UploadedFiles/@img" style="max-width:200px" />
                        }

                    }
                    @if (User.IsInRole("Client"))
                    {
                        <button class="btn btn-block default">
                            <span>РЕЗЕРВИРАЈ</span>
                        </button>
                    }

                </div>
                }
            </div>
        </div>





        @if (User.IsInRole("Salon") && User.Identity.Equals(Model.UserId))
        {
            <h5>
                <i>
                    @Html.ActionLink("Ажурирај профил", "Edit", new { id = Model.UserId })
                </i>
            </h5>
        }


    </div>
</div>



@*<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
        #SlideshowImages > div img{
            border-radius: 6px;
        }
</style>*@

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#SlideshowImages > div:gt(0)").hide();
            setInterval(function () {
                $('#SlideshowImages > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#SlideshowImages');
            }, 3000);
        });
    </script>
}


