@model Proba.Models.Salon

@{
    ViewBag.Title = "Details";
}

<h2 class="naslov-formi">@Model.Name</h2>


<div class="form-horizontal div-formi">

    <div style=" padding: 5% 0;">

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.City)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Rating)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Rating.ToString())
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.ImagePath)
            </div>
            <div class="col-md-6">
                <img src="~/UserImages/@Model.ImagePath" style="max-width:200px" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Services)
            </div>
            <div class="col-md-6">
                @foreach (var service in Model.Services)
                {
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.Label(service.Name)
                    </div>
                    <div class="col-md-2">
                        @Html.Label(service.Price.ToString())
                    </div>
                </div>
                    }
                    @* +"ден." *@
                </div>
        </div>
    </div>
</div>

