@model Proba.Models.DetailsReservationViewModel

@{
    ViewBag.Title = "Details";
}

@*
    DETAILS SALON
*@

<div>
    <img class="slika-profil" src="~/UserImages/@Model.Salon.ImagePath" style="max-width:300px !important" />

    @*<div id="SlideshowImages" class="slika-profil">
            <div> <img src="~/UserImages/default_female.jpg" height="200" width="200"> </div>
            <div> <img src="/UserImages/default_male.jpg" height="200" width="200"> </div>
            <div> <img src="/UserImages/default_salon.jpg" height="200" width="200"> </div>
        </div>*@

    <h1 class="header-profil">

        <b class="naslov-profil">
            @Html.DisplayFor(model => model.Salon.Name)

        </b>

    </h1>

    <br />
    <br />
</div>

<div class="form-horizontal info-profil">

    <div style=" padding: 5% 0;">


        @*<div class="form-group">
            <div class="box">
                <a class="star b1"></a>
                <a class="star b2"></a>
                <a class="star b3"></a>
                <a class="star b4"></a>
                <a class="star b5"></a>
                <ion-icon name="star"></ion-icon>
            </div>
        </div>*@
        @*<div class="form-group">
            <div class="container" style="margin-top:35px">
                <div class="ratings">
                    <input type="radio" name="star" id="rating" value="1" />
                    <input type="radio" name="star" id="rating" value="2" />
                    <input type="radio" name="star" id="rating" value="3" />
                    <input type="radio" name="star" id="rating" value="4" />
                    <input type="radio" name="star" id="rating" value="5" />
                </div>
                <br />
                <span class="info"></span>
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Salon.Address)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Salon.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Salon.City)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Salon.City)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Salon.Rating)
            </div>
            <div class="col-md-6">
                @Html.Label(Model.Salon.Rating.ToString())
            </div>
        </div>


        <div class="form-group tagg">
            <div class="col-md-2">
                <p><b>Оцени го салонот</b></p>
            </div>


          
                <div id="toVote" class="col-md-6" style="display:none">
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" id="1" class="rating max-width-25-px" />
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" id="2" class="rating max-width-25-px" />
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" id="3" class="rating max-width-25-px" />
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" id="4" class="rating max-width-25-px" />
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" id="5" class="rating max-width-25-px" />



                    <div class="result"></div>
                </div>
                <div id="voted" style="display:none">
                    @{
                    int red = ViewBag.votes;
                    for (int i = 0; i < red; i++)
                    {
                    <img src="~/UploadedFiles/stars/589px-Star_empty.svg.png" alt="Star Rating" align="middle" class="max-width-25-px" />
                    }
                    for(int i = 5; i > red; i--)
                    {
                    <img src="~/UploadedFiles/stars/1024px-Empty_Star.svg.png" alt="Star Rating" align="middle" class="max-width-25-px" />
                    }

                    }
                </div>
        </div>
            

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Salon.Services)
            </div>
            <div class="col-md-6" style="color: #555555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);padding: 0px 3%;">
               @foreach (var service in Model.Salon.Services)
                {

                <div class="col-lg-10">
                    <div class="col-md-4" style="margin:10% 0;">
                        @Html.Label(service.Name)
                    </div>

                    <div class="col-md-3" style="margin:10% 0;">
                        @Html.Label(service.Price.ToString()) ден.
                    </div>



                    @*@foreach (var img in service.StringsAsStrings.Split(','))
        {
            if (img != "")

            {
                <div>
                    <img src="~/UploadedFiles/@img" style="max-width:200px" />
                </div>
            }

        }
                    *@


                    @if (service.StringsAsStrings != null)
                    {
                        <div id="SlideshowImages2" class="">
                            @foreach (var img in service.StringsAsStrings.Split(','))
                            {

                                if (img != "")
                                {
                                    string s = "/UploadedFiles/" + img;
                                    Console.WriteLine(s);
                                    <div> <img src=@s height="100" width="100"> </div>
                                }
                            }

                        </div>
                    }

                    


                    @if (User.IsInRole("Client"))
                    {
                        using (Html.BeginForm("MakeReservation", "Reservations", FormMethod.Get))
                        {
                            @Html.Hidden("ServiceId", service.Id)
                            @Html.HiddenFor(m => m.SalonId)
                            <button class="btn default" type="submit" style="position: absolute;margin:45px 0 30px 0">
                                <span>РЕЗЕРВИРАЈ</span>
                            </button>
                        }

                    }


                </div>
                }
            </div>
            @if (User.IsInRole("Salon") && User.Identity.Name.Equals(Model.Salon.User.Email))
             {
                <div class="btn default links" style="position:relative;float:left;margin:5%;">
                @Html.ActionLink("ПРЕГЛЕДАЈ РЕЗЕРВАЦИИ", "Index", "Reservations", new { Id = Model.SalonId }, null)
                </div>
             }
        </div>





        @if (User.IsInRole("Salon") && User.Identity.Name.Equals(Model.Salon.User.Email))
        {
            <h5>
                <i>
                    @Html.ActionLink("Ажурирај профил", "Edit", new { id = Model.Salon.UserId })
                </i>
                <i style="float:right;margin-right:12%">
                    @Html.ActionLink("Ажурирај податоци за најава", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Уреди" })
                </i>
            </h5>
        }





    </div>
</div>



@*<style type="text/css" style="display: none !important;">
        #SlideshowImages {
            margin: 50px auto;
            position: relative;
            width: 200px;
            height: 200px;
            padding: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

            #SlideshowImages > div {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
            }
            #SlideshowImages > div img{
                border-radius: 6px;
            }
    </style>*@

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#SlideshowImages2 > div:gt(0)").hide();
            setInterval(function () {
                $('#SlideshowImages2 > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#SlideshowImages2');
            }, 3000);
            var votes = parseInt(@ViewBag.votes);
            if (votes == 0) {
                $("#toVote").css("display", "block");
            } else {
                $("#voted").css("display", "block");
            }
        });

            //$(".ratings").rating(function (vote, event) {
            //    $.ajax({
            //        method: "POST",
            //        url: "/Salons/Details/" +,
            //        data: { vote: vote }
            //    }).done(function (info) {
            //        $(".info").html("Yout vote:<b>" + info + "</b>")
            //    })


    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

    <@*script type="text/javascript" src="../src/rating.js"></script>
    <link rel="*@stylesheet" href="../src/rating.css" type="text/css" media="screen" title="Rating CSS">



        <script type="text/javascript">
                $(function () {
                    $("img.rating").mouseover(function () {
                        //full
                        giveRating($(this), "589px-Star_empty.svg.png"); // greshno ime samo ama okay dzvezda
                        $(this).css("cursor", "pointer");
                    });

                    $("img.rating").mouseout(function () {
                        // empty
                        giveRating($(this), "1024px-Empty_Star.svg.png");
                        refilRating($(this));
                    });
                    $("img.rating").click(function (e) {
                        // $("img.rating").unbind("mouseout mouseover click");
                        $(this).css('color', 'red');
                        // alert(e.currentTarget + ' was clicked!');
                        // call ajax methods to update database
                        var salonId = "@ViewBag.salon";
                        var url = "/Salons/PostRating?rating=" + parseInt($(this).attr("id")) + "&salonId=";
                        var url = url.concat(@Html.Raw(Json.Encode(Model.SalonId)));
 //                       var url = "/Salons/PostRating";
                        $.post(url, null, function (data) {
                            $(e.currentTarget).closest('div.tagg').find('div.result').text(data).css('color', 'red') // $("#result").text(data);
                            location.reload();
                        });
                    });
                });


                function giveRating(img, image) {
                    img.attr("src", "/UploadedFiles/stars/" + image).prevAll("img.rating").attr("src", "/UploadedFiles/stars/" + image);
                }
                function refilRating(img1)
                {
                    var rt = $(img1).closest('div.tagg').find("span.avr").text();
                    var img = $(img1).closest('div.tagg').find("img[id='" + parseInt(rt) + "']");
                    img.attr("src", "~/UploadedFiles/stars/589px-Star_empty.svg.png").prevAll("img.rating").attr("src", "~/UploadedFiles/stars/589px-Star_empty.svg.png");
                }
        </script>
       

}


