@model Proba.Models.Salon

@using (Html.BeginForm("Edit", "Salons", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{


    <div class="form-horizontal">
        <h4 class="naslov-formi">ПРОМЕНА ВО ПРОФИЛОТ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="ImageFile" name="ImageFile" class="btn btn-block default kopce-formi" />
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.RatePoints)
            @Html.HiddenFor(model => model.NumReviews)
            @Html.HiddenFor(model => model.Rating)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зачувај" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="col-md-4">
    @Html.ActionLink("Додади услуги", "AddServices", "Salons", new { @class = "btn btn-default",id = Model.UserId}, null)
</div>
<div class="col-md-4">
    @Html.ActionLink("Прегледај услуги", "Index", "Services", new { @class = "btn btn-default", id = Model.UserId }, null)
</div><br />
<br />
<br />
<div class="nazad-formi">
    @Html.ActionLink("Назад", "Details", "Salons", new { id = Model.UserId }, null)
</div>
