@model Proba.Models.Client

@{
    ViewBag.Title = "Details";
}

@*
    detali klient
*@

<div>
    <img class="slika-profil" src="~/UserImages/@Model.ImagePath" />

    <h1 class="header-profil">

        <b class="naslov-profil">
            @Html.DisplayFor(model => model.ClientName)
            <br />
            @Html.DisplayFor(model => model.ClientSurname)
        </b>

    </h1>

    <br />
    <br />
</div>


<div style=" padding: 5% 0;">
    <dl class="dl-horizontal info-profil" style="text-align:left">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    <h5>
        <i>
            @Html.ActionLink("Ажурирај профил", "Edit", new { id = Model.UserId })
        </i>
    </h5>



</div>





@*
    <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
*@




