@model Proba.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salon.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.ImagePaths)
        </dt>
        <ul>
        @foreach(var img in Model.ImagePaths)
        {
            <li>@img</li>
        }
</ul>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
