@model IEnumerable<Proba.Models.Service>

@{
    ViewBag.Title = "Услуги";
}

<h2>Услуги</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salon.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Уреди", "Edit", new { id = item.Id }) |
                    <button class="btn btn-default kopce-formi js-delete" data-id="@item.Id">Избриши</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        var table = $("#table").DataTable({
            "language": {
                "paginate": {
                    "previous": "Претходно",
                    "next": "Следно"
                },
                "search": "Пребарај",
                "lengthMenu": "Прикажи _MENU_ ставки по страна",
                "zeroRecords": "Не се пронајдени ставки",
                "info": "Прикажани од _START_ до _END_ од вкупно _TOTAL_ ставки",
                "infoEmpty": "Не се пронајдени ставки",
                "infoFiltered": "(филтрирани од _MAX_ вкупно ставки)"
            }
        });
        $("#table .js-delete").click(function () {
            var button = $(this);
            bootbox.confirm({
                message: "Дали сте сигурни дека сакате да ја избришете услугата?",
                buttons: {
                    confirm: {
                        label: 'Да',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Не',
                        className: 'btn-danger'
                    }
                },
                callback: function (res) {
                    if (res) {
                        $.ajax({
                            method: "GET",
                            url: "/Services/Delete/" + button.attr("data-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                location.reload();
                            }
                        });
                    }
                }
            });
        });
    </script>
    }